body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* -------- NAV BAR ------- */
.navbar {
  display: flex;
  justify-content: space-between;
}

/* ------ALL LISTINGS--------- */

.all-listings {
  display: flex;
  align-items: stretch;
  width: 100%;
  flex-wrap: wrap;
}

.listing-preview {
  margin: 10px;
  padding: 15px;
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 14px 1px rgba(135, 132, 135, 1);
  -moz-box-shadow: 5px 5px 14px 1px rgba(135, 132, 135, 1);
  box-shadow: 5px 5px 14px 1px rgba(135, 132, 135, 1);
}

/* ------SINGLE LISTING--------- */

.listing {
  display: flex;
}

.listing__container {
  margin: 10px;
  padding: 10px;
}

.listing__img {
  width: 300px;
}
