@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins', 'Roboto';
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: blue;
}
a:focus {
  text-decoration: none;
  color: blue;
}
a:hover,
a:active {
  text-decoration: none;
  color: blue;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* -------- NAV BAR ------- */

.navbar-container {
  margin: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

/* -------- CARD ------- */
.card {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 14px 1px rgba(135, 132, 135, 1);
  -moz-box-shadow: 5px 5px 14px 1px rgba(135, 132, 135, 1);
  box-shadow: 5px 5px 14px 1px rgba(135, 132, 135, 1);
}

/* ------ALL LISTINGS--------- */

.all-listings {
  display: flex;
  align-items: stretch;
  width: 100%;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.listing-preview {
  margin: 10px;
  padding: 15px;
  width: 300px;
  height: 400px;
}

.filter-container {
  margin: 10px;
  padding: 15px;
  width: 100%;
}

/* ------SINGLE LISTING--------- */

.listing {
  display: flex;
}

.listing__container {
  margin: 10px;
  padding: 10px;
}

.listing__img {
  width: 300px;
}

/* ------- MY LISTINGS ----------- */
.my-listings {
  margin: 60px;
}

.add-new-listing-button {
  margin: 10px;
  padding: 10px;
}

.create-listing {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 14px 1px rgba(135, 132, 135, 1);
  -moz-box-shadow: 5px 5px 14px 1px rgba(135, 132, 135, 1);
  box-shadow: 5px 5px 14px 1px rgba(135, 132, 135, 1);
  width: 50%;
  padding: 15px;
  margin: 15px;
}

.create-listing-form {
  display: flex;
  flex-direction: column;
}

.create-listing-form-section {
  display: flex;
  align-items: center;
}

.create-listing h2 {
  margin: 10px;
  padding: 5px;
}

.create-listing-form-address {
  display: flex;
}

.create-listing-form input,
button {
  margin: 5px;
  padding: 5px;
}

.create-listing-form select {
  margin: 5px;
  padding: 5px;
}

/* ------- USER PROFILE -------- */
.user-profile-container {
  display: flex;
  margin: 10ox;
  padding: 10px;
}

.user-profile-pic {
  width: 300px;
  border-radius: 50%;
}

.user-profile-info {
  margin: 10ox;
  padding: 10px;
}
